.div1 {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}
.div2 {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}


.div3 {
    background-color: #000000;
    border-color: #8D53DD;
    border-width: 3px;
    border-style: solid;
    padding: 10px 10px;
    max-width: 1000px;
    position: relative;
    font-family: Courier;
    font-size: 15px;
    color: #c3d4d7;
    line-height: 1.8em;
}
body {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}
.div4 {
    text-align: right;
    border-width: 3px;
    padding: 10px 10px;
    border-style: solid;
    
}